<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">

    <title>about hilke</title>
</head>

<body>
    <%- include('header'); -%>
    <div class="container">
        <h1>bio</h1>
        <div id="bio">
            <p>
                It crackles. It ripples. It creaks. And the melancholic piano melody swells. But when Hilke’s gentle and rich vocals enter, the mood shifts — almost imperceptibly. Faint glimmers of hope and reassurance shine through like the light between branches.
            </p>
            <p><b><em>Tree</em></b>, the first single from Hilke’s upcoming album, <b><em>Am I Angry Enough?</em></b>, is a captivating love song that intertwines English and French. Hilke’s voice, more nuanced and multifaceted than ever, reveals an impressive range of timbres and textures that invites listeners to surrender completely — and be swept away.
            </p>
            <p>
                The Tages-Anzeiger once described Hilke as sounding “like the sorrowful half- sibling of Jay-Jay Johnson and ANOHNI — a voice that speaks of vulnerability, of questioning one’s own gender identity, a voice that both unsettles and enchants.”
            </p>
            <p>
                On her new album, Hilke continues to explore and demonstrate musical diversity while inspiring audiences with unique feminist and genderqueer perspectives. <b><em>Am I Angry Enough?</em></b> will be released on 7 February 2025 on Red Brick Records.
            </p>
            </div>
        <h1>press</h1>
        <div id="press">
            <% pressClips.forEach(function(clip) { %>
                <div class="press-clip">
                    <a href="<%= clip.imgUrl %>" target="_blank">
                        <img src="<%= clip.imgUrl %>">
                    </a>
                    <div class="press-links">
                        <span>
                            <%= clip.name %>
                        </span>
                        <span><a href="<%= clip.pdfUrl || clip.link %>" target="_blank">link</a></span>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

</body>

</html>
