<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">

    <title>about hilke</title>
</head>

<body>
    <%- include('header'); -%>
    <div class="container">
        <h1>bio</h1>
        <div id="bio">
            <p>
                <em>Slack</em> is the epitome of an electronic dystopia. The second single Hilke releases ahead of her album Am I Angry Enough? is a desperate plea, culminating in an epic and intricate electronic odyssey.
            </p>
            <p>Once again, the question “Who am I?” is explored from every angle, because the answer is never simple. It is never found in extremes but always in the spaces in between.
            </p>
            <p>
                The Tages-Anzeiger wrote about Hilke: "Hilke sounds like the melancholic half-sister of Jay-Jay Johanson and ANOHNI. It’s a voice that speaks of vulnerability, of questioning one’s own gender identity—a voice that both unsettles and captivates."
On her upcoming album, Hilke delves into the emotional landscapes hidden in the darkest corners of her transfeminine identity and grapples with the self-empowerment found in feminist rage. Am I Angry Enough? will be released on March 14, 2025, via Red Brick Records.
            </p>
            </div>
        <h1>press</h1>
        <div id="press">
            <% pressClips.forEach(function(clip) { %>
                <div class="press-clip">
                    <a href="<%= clip.imgUrl %>" target="_blank">
                        <img src="<%= clip.imgUrl %>">
                    </a>
                    <div class="press-links">
                        <span>
                            <%= clip.name %>
                        </span>
                        <span><a href="<%= clip.pdfUrl || clip.link %>" target="_blank">link</a></span>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

</body>

</html>
