<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">

    <title>about hilke</title>
</head>

<body>
    <%- include('header'); -%>
    <div class="container">
        <h1>about hilke's latest album</h1>
        <div id="bio">
            <p class="summary">
                <em>Am I Angry Enough?</em> Hilke asks on her new album. Across ten tracks, she guides us through emotional landscapes hidden in the darkest corners of her transfeminine identity and explores the self-empowerment found in feminist rage. Musically, it’s anything but cerebral — vulnerable, gentle, profoundly sad, and yet hopeful. If anger is a catalyst for such art, there’s only one answer: Yes, Hilke. Just angry enough.
            </p>
            <p>
                From the opening line, we’re plunged into a theme that continues throughout the record: <em>All the things that I didn’t want to be, is that what you really need from me?</em> Hilke asks, in an enchanting timbre that's very much of her own, on the track loud. On <em>Am I Angry Enough?</em>, she takes us on a journey into her innermost self. The question “Who am I?” is examined from every angle — perhaps because the answer is never simple. It’s never found in extremes, but in the spaces between.
            </p>
            <p>
                Rarely have those in-between spaces been so delicately surfaced, explored, and illuminated: <em>Soft but right, being left in the dark. Your words so bright, silenced echoes resound</em>, she sings on <strong>voice</strong>, a song that also deals with the struggles waged within one’s own body and mind.
            </p>
            <p>
                On her debut album <em>Silent Violent</em> (2021), Hilke primarily rejected (male) rage as a form of violent behavior. Having since learned to wear her vulnerability and gentleness proudly, she found herself, and during a feminist strike demonstration, asking: <em>Am I angry enough? Am I loud enough? Am I angry enough? This is what I unlearned to be</em>. (<strong>loud</strong>)
            </p>
            <p>
                Discrimination and harm relating to gender and queer identities are named — and confronted — with confidence. On mask, the track most reminiscent of Thom Yorke, she sings:
            </p>
            <p>
                <em>All the dirty jokes, just to keep the boys happy.<br/>
                All the horny looks, just because you can.<br/>
                Let’s take off the masks and let me look closely at your face.<br/>
                Let me go through your trembling nose and let me dig deep deep inside<br/>
                ‘til I find this throbbing lump lying deep down in your throat.</em>
            </p>
            <p>
                Musically, <em>Am I Angry Enough?</em> bridges the gap between <em>Silent Violent</em> (2021) and <em>Piano Feroce</em> (2024), blending melancholic, acoustic soundscapes, electronic beats, dystopian samples, and the gentle tones of a felt piano. To create her new songs, Hilke retreated to a former hotel beneath the Piz Mundaun in the Swiss Alps, where she laid the foundation for the album. Without piano keys at her disposal, she was forced to rethink harmonies. The resulting multilayered soundscapes are surprising — <strong>slack</strong> ends in an epic, intricate electronic odyssey, while <strong>drip</strong> begins like a madrigal, maintaining a sacred tone, with alarming sirens wailing faintly in the background.
            </p>
            <p>
                Despite the heaviness and darkness of <em>Am I Angry Enough?</em>, occasional windows open, and with each breath, hope fills the lungs and spreads through the bloodstream. Sometimes, it’s the anger from within that reminds us we’re alive.
          </p>
          <p class="author">
            original German text by Fabienne Schmuki, English adaptation by Robert Mitson
          </p>
        </div>
    
        <h1>press</h1>
        <div id="press">
            <% pressClips.forEach(function(clip) { %>
                <div class="press-clip">
                    <a href="<%= clip.imgUrl %>" target="_blank">
                        <img src="<%= clip.imgUrl %>">
                    </a>
                    <div class="press-links">
                        <span>
                            <%= clip.name %>
                        </span>
                        <span><a href="<%= clip.pdfUrl || clip.link %>" target="_blank">link</a></span>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

</body>

</html>
