<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">

    <title>about hilke</title>
</head>

<body>
    <%- include('header'); -%> 
    <h2>press</h1>
    <div class="container">
        <div class="centered-container">
            <div id="press">
                <% pressClips.forEach(function(clip) { %>
                    <div class="press-clip">
                        <a href="<%= clip.imgUrl %>" target="_blank">
                            <img src="<%= clip.imgUrl %>">
                        </a>
                        <div class="press-links">
                            <span>
                                <%= clip.name %>
                            </span>
                            <span><a href="<%= clip.pdfUrl || clip.link %>" target="_blank">link</a></span>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>
    <%- include('footer'); -%>
</body>
