<h2>releases</h2>
<div class="container">
    <div class="releases-list">
        <% releases.forEach(function(release) { %>
            <div class="release">
                <a href="/music/<%= release.slug %>"><div class="cover">
                    <img src="/assets/covers/<%= release.cover %>" alt="<%= release.name %>">
                </div></a>
                <div class="info">
                    <div class="title"><%= release.name %></div>
                    <div class="date"><%= release.date %></div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<h2>videos</h2>
<div class="container">
    <div class="youtubeFrame">
        <iframe class="youtubeVideo" src="https://www.youtube.com/embed/YcQWc9RwJ9Q?si=BZwp6jU5jNCPXqu_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="youtubeVideo" src="https://www.youtube.com/embed/N2g6On_u2r0?si=2yaXv10c4TTB6G2b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         <iframe class="youtubeVideo" src="https://www.youtube.com/embed/fR7hY08GBD8?si=COoDicr1OlceQxj-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
